<?xml version="1.0"?>
<launch>
  <arg name="path_generation"         default="false"/>
  <arg name="enable_viewer"           default="true"/>

  <!--    State dependent parameters-->
  <arg name="config_file_path"        default="$(find smb_mission_planner)/configs/hilti_demo/mission_config.yaml"/>
  <rosparam command="load" file="$(arg config_file_path)"/>

  <node pkg="smb_mission_planner" type="hilti_demo.py"  name="hilti_demo" output="screen"/>

  <group if="$(arg path_generation)">
    <node pkg="smb_mission_planner" type="path_generator.py"  name="path_generator" output="screen"/>
  </group>

  <group if="$(arg enable_viewer)">
    <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer_node" output="screen" />
  </group>

</launch>